@font-face {
  font-family: "dora-icon"; /* Project id 1932539 */
  src: url('iconfont.woff2?t=1656464881168') format('woff2'),
       url('iconfont.woff?t=1656464881168') format('woff'),
       url('iconfont.ttf?t=1656464881168') format('truetype');
}

.dora-icon {
  font-family: "dora-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.risk-zanting1:before {
  content: "\e60b";
}

.risk-cuowu:before {
  content: "\e62e";
}

.risk-baobiao:before {
  content: "\e637";
}

.risk-tuijianguanli:before {
  content: "\e638";
}

.risk-renqunguanli:before {
  content: "\e639";
}

.risk-xiangqing:before {
  content: "\e635";
}

.risk-yujing:before {
  content: "\e636";
}

.risk-shuomingsvg111:before {
  content: "\e634";
}

.risk-shuomingsvg1:before {
  content: "\e633";
}

.risk-shuomingsvg11:before {
  content: "\e632";
}

.risk-shuoming1:before {
  content: "\e630";
}

.risk-xiazai:before {
  content: "\e62f";
}

.risk-xinfengICOM:before {
  content: "\e62d";
}

.risk-xinfengICOMbeifen:before {
  content: "\e62c";
}

.risk-BIbaobiao:before {
  content: "\e62a";
}

.risk-shujushuchu:before {
  content: "\e62b";
}

.risk-huo:before {
  content: "\e606";
}

.risk-yuandianz:before {
  content: "\e758";
}

.risk-jiaoseguanliquanxianbianji:before {
  content: "\e627";
}

.risk-weiduyemianshezhiluojibiao:before {
  content: "\e628";
}

.risk-yonghuguanliyemianzhongzhimima:before {
  content: "\e629";
}

.risk-tiaoduguanlixiaxian:before {
  content: "\e621";
}

.risk-tiaoduguanlishangxian:before {
  content: "\e623";
}

.risk-tiaoduguanlilijizhihang:before {
  content: "\e625";
}

.risk-tiaoduguanlitiaodurizhi:before {
  content: "\e626";
}

.risk-yijidaohang:before {
  content: "\e620";
}

.risk-jiaoseguanli:before {
  content: "\e61b";
}

.risk-jigouguanli:before {
  content: "\e61d";
}

.risk-yonghuguanli:before {
  content: "\e61e";
}

.risk-biaoqianluoji:before {
  content: "\e614";
}

.risk-biaoqianzhuti:before {
  content: "\e615";
}

.risk-huizongbiaoqianbiao:before {
  content: "\e618";
}

.risk-biaoqiandingyi:before {
  content: "\e619";
}

.risk-biaoqianfenlei:before {
  content: "\e61a";
}

.risk-jixichaxun:before {
  content: "\e602";
}

.risk-shouqi:before {
  content: "\e603";
}

.risk-zhankai:before {
  content: "\e604";
}

.risk-quanxianguanli:before {
  content: "\e605";
}

.risk-shujucuiqu:before {
  content: "\e607";
}

.risk-shouye:before {
  content: "\e609";
}

.risk-shujufuwu:before {
  content: "\e60c";
}

.risk-shujujianmo:before {
  content: "\e60e";
}

.risk-shujukaifa:before {
  content: "\e60f";
}

.risk-shujuyuguanli:before {
  content: "\e611";
}

.risk-shujuyuanguanli:before {
  content: "\e613";
}

.risk-shujuzhongzhuan:before {
  content: "\e616";
}

.risk-shujuzichan:before {
  content: "\e617";
}

.risk-tongjizhouqi:before {
  content: "\e61c";
}

.risk-xiangmuguanli1:before {
  content: "\e61f";
}

.risk-yewubankuai:before {
  content: "\e622";
}

.risk-yewuguihua:before {
  content: "\e624";
}

